<footer class="footer bg-info py-3 mt-auto">
    <div class="container text-center">
        <span class="text-muted ">&copy;Village Bank</span>
        <span>Village</span>
    </div>
    <div class="container text-center">
        <p>villageBank@gmail.com</p>
    </div>
</footer>